@font-face {
    font-family: "Kranky";
    src: url("../fonts/Kranky-Regular.ttf");
}

@font-face {
    font-family: "SyneMono";
    src: url("../fonts/SyneMono-Regular.ttf");
}

body {
    font-family: "Kranky", sans-serif;
    background-color: #EDC9AF;
    margin: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

div.time-entry {
    background-color: #B12C00;

    display: grid;
    grid-template-columns: 2fr 24fr 1fr;
    gap: 15px;

    padding: 10px;
    color: #640D5F;

    margin-bottom: 5px;
}

.time-entry-main {
    display: flex;
    flex-direction: column;
    gap: 7px;

    min-width: 100%;
}

.time-entry-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFCC00;
    padding: 5px;
    border-radius: 15px;

    gap: 10px;
}

.time-entry-timer {
    background-color: #FFCC00;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    box-shadow: 7px 7px #640D5F;
    font-size: 2.2rem;
}

.timer-time {
    font-weight: bold;
    color: #640D5F;

    font-family: SyneMono, monospace;
}

#time-bar {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 0 5px 5px 5px;
}

.time-bar-control {
    display: flex;
    gap: 10px;
    height: 30px;

    border-radius: 5px;
}

.input {
    font-family: "Kranky", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #640D5F;

    background-color: #FFCC00;
    border-radius: 15px;
    width: 100%;

    min-height: 40px;
    border: none;

    padding: 0 10px;
    box-sizing: border-box;
}

.input:focus {
    outline: 3px solid #640D5F;
}

input:disabled {
    opacity: 0.7;
}

.label {
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.entry-edit-time span {
    min-width: 0;
    flex-grow: 0;
}
/* Entry edit */
.entry-edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Category */
.categories {
    display: flex;
    gap: 10px;

    height: 30px;
}

.categories-list {
    display: flex;
    justify-content: start;
    gap: 10px;

    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;

    scroll-behavior: smooth;
}

.categories-edit {
    overflow-x: initial;
    flex-wrap: wrap;
}

.timer-time-part {
    display: inline-block;
    width: 50px;
}

.categories-list::-webkit-scrollbar {
    display: none;
}

.category {
    background-color: #FFCC00;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;

    font-weight: bold;
    gap: 7px;

    width: fit-content;
    height: 100%;
    flex-shrink: 0;

    box-sizing: border-box;
    color: #640D5F;
}

.category .category-colour {
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.category .btn {
    transform: translateY(7%);
}

/* Pop up */
.pop-up {
    background-color: #640D5F;
    padding: 10px;
    margin-top: 3px;

    border-radius: 10px;
    color: white;

    width: fit-content;
    height: fit-content;

    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
